<!DOCTYPE html>
<html lang="en">

<head>
    <title>빅데이터 플랫폼 아키텍처 설계</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container mt-3">

        <form action="/post/list" class="d-flex justify-content-end" method="get">
            <input name="title" class="me-2" type="text" placeholder="Search">
            <button class="btn btn-primary" type="submit">검색</button>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>썸네일</th>
                    <th>가게 이름</th>
                    <th>주소</th>
                    <th>전화번호</th>
                    <th>영업시간</th>
                    <th>홈페이지</th>
                    <th>카테고리</th>
                    <th>메뉴</th>
                    <th>위도</th>
                    <th>경도</th>
                    <th>작성일</th>
                    <th>수정일</th>
                </tr>
            </thead>
            <tbody>
              {{#Restaurant}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{thumUrl}}</td>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>{{telDisplay}}</td>
                    <td>{{bizhourInfo}}</td>
                    <td>{{homePage}}</td>
                    <td>{{category}}</td>
                    <td>{{menuInfo}}</td>
                    <td>{{x}}</td>
                    <td>{{y}}</td>
                    <td>{{createDate}}</td>
                    <td>{{updateDate}}</td>
                </tr>
                {{/Restaurant}}
            </tbody>
        </table>
    </div>

</body>

</html>